:root {
            --main: #61D1FF;
        }


        
        .charcter-name {
            font-family: "Exo 2";
        }

        .charcter-descrip {
            font-family: "Poppins";
            -webkit-text-stroke: 0.7px black;
        }

        .Power {
            -webkit-text-stroke: 0.7px black;
        }

        #Titel {
            font-family: "Cinzel";
            font-size: 4rem;
            font-weight: bold;
            padding: 16px;
            margin: 4px;
        }

        #Description {
            color: white;
            font-family: "Poppins";
            font-size: 1.2rem;
        }

        #h2 {
            text-align: center;
            font-family: "Exo 2";
            font-weight: bold;
            font-size: 3rem;
            color: var(--main);
        }
        @keyframes scroll  {
    from {
        transform: translateX(0);
    }to {
        transform: translateX(-100%);
        }
    }
.animate-scroll {
  animation: scroll 10s linear infinite;
}
.conttainer {
      position: relative;
      height: 100%;
    }

    .conttainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper {
      width: 240px;
      height: 320px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      
    }

    .swiper-slide:nth-child(1) {
      background-image: url(img/C01.png);
      background-size: cover;
    }

    .swiper-slide:nth-child(2) {
      background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3) {
      background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4) {
      background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5) {
      background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6) {
       background-image: url(Card.png);
      background-size: cover;
    }

    .swiper-slide:nth-child(7) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10) {
      background-color: rgb(54, 94, 77);
    }